@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/en/6/6a/HyperLightDrifterBoxArt.png" alt="Hyper Light Drifter" style="width:100%">
    <h1>Rogue Like</h1>
    <p class="price">$19.99</p>
    <p>Hyper Light Drifter is a 2D action role-playing game developed by Heart Machine. The game pays homage to 8-bit and 16-bit games, and is considered by its lead developer Alx Preston as a combination of The Legend of Zelda: A Link to the Past and Diablo.</p>
    <p><button>Add to Cart</button></p>
</div>

<div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/en/6/6a/HyperLightDrifterBoxArt.png" alt="Hyper Light Drifter" style="width:100%">
    <h1>Rogue Like</h1>
    <p class="price">$19.99</p>
    <p>Hyper Light Drifter is a 2D action role-playing game developed by Heart Machine. The game pays homage to 8-bit and 16-bit games, and is considered by its lead developer Alx Preston as a combination of The Legend of Zelda: A Link to the Past and Diablo.</p>
    <p><button>Add to Cart</button></p>
</div>

<div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/en/6/6a/HyperLightDrifterBoxArt.png" alt="Hyper Light Drifter" style="width:100%">
    <h1>Rogue Like</h1>
    <p class="price">$19.99</p>
    <p>Hyper Light Drifter is a 2D action role-playing game developed by Heart Machine. The game pays homage to 8-bit and 16-bit games, and is considered by its lead developer Alx Preston as a combination of The Legend of Zelda: A Link to the Past and Diablo.</p>
    <p><button>Add to Cart</button></p>
</div>
